apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.angular.replicas }}
  selector:
    matchLabels:
      app: angular
  template:
    metadata:
      labels:
        app: angular
    spec:
      containers:
        - name: angular
          image: "{{ .Values.angular.image }}:{{ .Values.angular.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /healthz
              port: 80
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 80
            initialDelaySeconds: 20
